<div class="profile-card">
  <div class="avatar-name">
    <img class="profile-card__avatar" src="/assets/rg.jpeg" alt="avatar" />
    <h3 class="profile-card__name">
      <span>{{ profile.name }}</span> {{ profile.username }}
    </h3>
  </div>
  <p class="profile-card__description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
    doloribus iste molestias? Blanditiis recusandae corporis sint.
  </p>
  <ul class="profile-card__tags">
    <li class="profile-card__tag">Tag 1</li>
    <li class="profile-card__tag">Tag 2</li>
    <li class="profile-card__tag">Tag 3</li>
    <li class="profile-card__tag">Tag 4</li>
  </ul>
  <div class="profile-card__actions-btns">
    <button class="btn" type="button">Follow</button>
  </div>
</div>
